# Ignore PyCharm files
.idea/
*.iml

# Ignore checkpoints
checkpoints/
*.ckpt
.ipynb_checkpoints/

# Ignore PyTorch model files
*.pt
*.pth
gdino_checkpoints/
!gdino_checkpoints/download_ckpts.sh

# Ignore Python cache files
__pycache__/
*.py[cod]
*.class
!gdino_checkpoints/
!gdino_checkpoints/download_ckpts.shdownload_ckpts.sh
