# Ignore PyCharm files
.idea/
*.iml

# Ignore checkpoints
checkpoints/
*.ckpt
.ipynb_checkpoints/

# Ignore PyTorch model files
*.pt
*.pth
gdino_checkpoints/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.class
